{% extends 'base.html' %}

{% load static %}

{% block content %}

{% if user.is_authenticated %}
   <h3 class="card-title">{{ post.title }}</h3>
   <h6 class="card-title">{{ post.created_at }} created by
      {% if user.pk == post.user_id.pk %}
          <b><font color="red" >{{post.user_id.nickname}}</font></b>
      {% else %}
          {{post.user_id.nickname}}
      {% endif %}
   </h6>
   <br>
   <b>{{ post.short_description }}</b>
   <br>
   {% if post.image %}
      {{ post.image }}
   {% endif %}
      {{ post.message }}
   <tr>
   <br>
   <br>
   Total comments: {{comments_count}}
   <hr>
   <form action="{% url 'blog:add_comment' %}" method="POST" novalidate>
      {% csrf_token %}
      <input type="hidden" name="pk" value={{post.pk}}>
      <tr><th>add a new comment: </th><td><input type="text" name="add_comment" required></td></tr>
      <br>
      <button type="submit">Send</button>
   </form>
   <hr>
   {% for comment in comments_list %}
      <h7 class="card-title">{{ comment.created_at }} created by {{ comment.user_id.nickname }}</h7>
      <br>
      <b>{{ comment.message }}</b>
      <hr>
   {% endfor %}
{% else %}
   <a class="nav-link" href="{% url 'users:login' %}">Login</a>
{% endif %}

{% endblock content %}